<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col-md-6 mx-auto">
            <div class="card card-body">
                <% include ../partials/messages %>
                <form action="/user/bilgi_guncelle" method="post" role="form">
                    <div class="form-group">
                        <label for="usName">Kullanıcı Adınız</label>
                        <input type="text" id="usName" class="form-control" name="username"
                               value="<%= typeof username != 'undefined' ? username : '' %>"/>
                    </div>
                    <div class="form-group">
                        <label for="pswd">Şifreniz</label>
                        <input type="password" id="pswd" class="form-control" name="password"
                               value="<%= typeof password != 'undefined' ? password : '' %>">
                    </div>
                    <div class="form-group">
                        <label for="mail">Email</label>
                        <input type="email" id="mail" class="form-control" name="email"
                               value="<%= typeof email != 'undefined' ? email : '' %>"/>
                    </div>
                    <div class="form-group">
                        <label for="college">Üniversiteniz</label>
                        <select class="form-control" name="university" id="college">
                            <% if(typeof unis != 'undefined' ) {%>
                            <% for(var names in unis.deger) { %>
                            <option><%= unis.deger[names] %></option>
                            <%}}%>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="cv">Kısa cv</label>
                        <textarea name="cv" rows="5" style="resize:none;" class="form-control"
                                  placeholder="Biraz kendinden bahset"><%= typeof cv != 'undefined' ? cv : '' %></textarea>
                    </div>
                    <button type="submit" class="btn btn-success mb-5 btn-block">Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</div>