<div class="container">
    <div class="row text-center my-4 text-justify">
        <% for (var i=0;i<docs.length;i++){ %>
        <a href="/intern/staj/<%= docs[i].name %>">
            <div class="col-md-4 mb-3" id="task">
                <div class="rounded border border-dark p-2">
                    <p class="h5 text-left">
                        <%= typeof docs[i].name != 'undefined' ? docs[i].name : '' %>
                        <span class="float-right pt-1 h6">
                            <%= typeof docs[i].city != 'undefined' ? docs[i].city : '' %>
                        </span>
                    </p>
                    <hr>
                    <p class="text-justify detail">
                        <%= docs[i].info != 'undefined' ? docs[i].info : '' %>
                    </p>
                    <hr>
                    <span class="text-justify">
                        <i class="fas fa-envelope my-1 mx-2"></i>
                        <%= typeof docs[i].mail != 'undefined' ? docs[i].mail : '' %>
                        <% if(typeof docs[i].linkedin != 'undefined') { %>
                        <a href="<%= docs[i].linkedin %>" class="float-right h5">
                            <i class="fab fa-linkedin-in mx-2 text-info"></i>
                        </a>
                        <% } %>
                        <% if(typeof docs[i].intern_link != 'undefined') { %>
                        <a href="<%= docs[i].intern_link %>" class="float-right h5">
                            <i class="fas fa-link mx-2 text-info"></i>
                        </a>
                        <% } %>

                    </span><br/>
                    <a href="/intern/stajlarim/delete/<%= docs[i].id %>" 
                       class="btn btn-danger btn-block mt-1 text-light">Kaldır</a>
                </div>
            </div>
            <% } %>
        </a>
    </div>
</div>